<aside>
  <ul class="accordion">
  <% @sections.each do |section| %>
    <li class="section-name">
      <a href="javascript:void(0)" class="js-accordion-trigger"><%= section.name %></a>
      <ul class="submenu">
        <% section.sub_sections.each do |sub_section| %>
          <li>
          <a href="javascript:void(0)"><%= sub_section.name %></a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</aside>
